@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+KR:wght@300&family=Open+Sans:wght@300&display=swap');



/* --** Reset CSS **-- */
* { margin: 0px; padding: 0px; box-sizing: border-box; }

ul, ol { margin-top: 0;}
ul ul { margin-bottom: 0; }
li { font-size: 13px; margin: 5px 0px 10px 0px; }
html,body {width:100%;height:100%;margin:0px;padding:0px;overflow:hidden;font-family: 'Open Sans', sans-serif;}
img{display: block;}
h1, h2, h3, h4, h5, h6{margin:0}
.clear:after{clear: both; display: block; content: '';}
.center{width: 100%; height: auto; max-width: 1400px; margin: auto;}
a{text-decoration: none;}


	#fullpage {position:relative;top:0px;z-index:9;width:100%;height:100%;}
	.fullsection{width:100%;height:100%;position:relative;}
	.full1{background:rgb(255, 255, 255); _background-image: url(../img/sky.jpg); _background-size: cover; _background-position: 0 100%;}
	.full2{background:rgb(255, 255, 255);}
	.full3{background:rgb(255, 255, 255);}
	.full4{background:rgb(255, 255, 255);}
	.full5{background:rgb(255, 255, 255);}
	/* #fullpage span{display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);color:#111;font-size:4em;font-weight:bold;}
	.full2 span{color:#000;} */

	ul, li{margin:0;padding:0;list-style:none}
	.quick {position:fixed;right:20px;top:50%;transform:translateY(-50%); z-index:100000}
	.quick li {width:10px;height:10px;margin-bottom:10px; border-radius:15px;border:2px solid #999;cursor:pointer;}
	.quick .on {background:#999;}




.home{}



/* header */
#header{position: fixed; z-index: 999; height: auto;}
.btnMenu{width : 30px; height: 22px; position: absolute; top: 30px; left: 30px; }
.menu_trigger, 
.menu_trigger span{display : inline-block;

	box-sizing : border-box;
}
.menu_trigger {
	_position : fixed;
	width : 100%;
	height : 100%;
}

.menu_trigger span {
	position : absolute;
	left : 0;
	width : 100%;
	height : 2px;
	background-color : #fff;
	border-radius : 4px;} 

   .menu_trigger span:nth-child(1) {
    top : 0;
  }
  .menu_trigger span:nth-child(2) {
    top : 50%;
  }
  .menu_trigger span:nth-child(3) {
    top : 100%;
  }




  /* hidden menu */

.hamburger-menu{position: fixed; z-index: 999;}


  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
  
    width: 26px;
    height: 26px;
  
    cursor: pointer;
    z-index: 1;

   
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 100%;
    height: 2px;
  
    background-color: #A3C1FF;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    _padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;

    display: flex; flex-direction: column; justify-content: center; align-items: center; _position: absolute; _height: 100vh;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }





/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 인트로 페이지 */

.home .home_wrapper{width: 100%; height: 100%; margin: auto; _max-width: 1400px; padding: 150px; }
.home .title{width: 100%; height: auto;}
.home .title .type {margin: 0 auto; width: 100%; font-size: 60px; font-family: 'Poppins', sans-serif; _background: linear-gradient(to bottom, rgba(83,17,191,1) 1%,rgba(150,76,255,1) 34%,rgba(247,181,255,1) 96%);
  _-webkit-background-clip: text;
  _-webkit-text-fill-color: transparent; color: #111;}
.home .title .type::after {
  content: '|';
  display: inline;
  animation: blink 0.7s infinite;
}

.home .sub_title{text-align: right; padding: 300px 0 0 0; font-family: 'Poppins', sans-serif;}
.home .sub_title h3{font-size: 40px; _background: linear-gradient(to bottom, rgba(119,218,255,1) 1%,rgba(163,193,255,1) 34%,rgba(255,255,255,1) 96%);  _-webkit-background-clip: text; _-webkit-text-fill-color: transparent; color: #111;}
.home .sub_title p{margin-top: 15px;}



/* 타이핑 커서 깜박이는 효과 */
 @keyframes blink {
  0% {
    opacity: 1;
 }
  50% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
 }
  50% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
 }
  50% {
    opacity: 0;
 }
  100% {
    opacity: 1;
 }
} 




/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* 섹션2 페이지 */

.about {width: 100%; height: 100%; position: relative;}
.about_wrapper{width: 100%; _max-width: 1400px; margin: auto; padding: 20px; height: 100%; display: flex; align-items: center; justify-content: center;}
.about_title{position: absolute; top: calc(50% - 42px); left: 0px; transform: rotate(90deg);}

.about .profile_box{width: 40%; height: 100%; _margin: auto; text-align: center; display: flex; flex-direction: column; flex-direction: column;
  align-items: center; justify-content: center;}
.about .profile_box h1{margin: 0; font-family: 'Poppins', sans-serif; font-size: 40px;}

.profile_box .upper_box{position: relative;}
.profile_box .upper_box .profile_line{width: 300px; height: 300px; padding: 15px; border: 4px solid #A3C1FF; position: relative; z-index: 10;}
.profile_box .upper_box .profile_pic {width: 300px; height: 300px; position: absolute; top: 10px; left: 10px;}
.profile_box .upper_box .profile_pic img{width: 100%; }
.profile_box .upper_box .hello{margin: 20px 0;}

.about .profile_box .underline{border: 1px solid #999;  width: 300px; display: inline-block; margin:20px 0;}



.about .profile_box .bottom_box{}
.about .profile_box .bottom_box p{margin: 10px 0;}



/* 스킬 섹션 */
/* .skill{width: 100%; height: 100%;}
.skill_wrap{height: 100%;} */
.about .skill_list{display: flex; width: 60%; height: 100%; align-items: center; justify-content: center; flex-direction: column;}

.skill_list>div{display: flex; align-items: center; justify-content: center; width: 100%; margin: 40px 0;}
.skill_list .skill_icon{width: 70px; margin-right: 15px;}
.skill_list .skill_icon img{width: 100%;}


.skill_list .skill_txt{width:100%; text-align: left;}
.skill_list .skill_txt p{margin: 5px 0;}

.skill_txt .bar{width: 100%; height: 25px; position: relative;}
.skill_txt .bar .hiddenBar{width: 100%; height: 100%; background-color: #ddd;}
.skill_txt .htmlbar .filledBar{width: 90%; height: 100%; background: linear-gradient(to right, rgba(50,0,168,1) 0%,rgba(175,224,255,1) 100%); position: absolute;}
.skill_txt .cssbar .filledBar{width: 90%; height: 100%; background: linear-gradient(to right, rgba(50,0,168,1) 0%,rgba(175,224,255,1) 100%); position: absolute;}
.skill_txt .jsbar .filledBar{width: 60%; height: 100%; background: linear-gradient(to right, rgba(50,0,168,1) 0%,rgba(175,224,255,1) 100%); position: absolute;}
.skill_txt .psbar .filledBar{width: 50%; height: 100%; background: linear-gradient(to right, rgba(50,0,168,1) 0%,rgba(175,224,255,1) 100%); position: absolute;}

.skill_txt .bar .percent{position: absolute; top: 0; right: 5px;}








/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* works 페이지 */
.works{width: 100%; height: 100%; position: relative;}
.works_title{position: absolute; top: calc(50% - 42px); left: 0px; transform: rotate(90deg);}
.works_wrapper{height: 100%; width: 100%; margin: auto;}
.swiper-container {width: 90%; height: 100%; }

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; */

  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

.swiper-slide{display: flex; align-items: center;}
.slide_innerbox{_width: 100%; display: flex; flex-direction: row; _padding: 50px; height: auto; max-width: 1280px; margin: auto;}
.slide_innerbox .img_box{width: 70%; _padding: 0 30px; margin: auto;}
.slide_innerbox .img_box .imgLink{display: inline-block; width: auto; height: auto;text-align: center; position: relative;}
.slide_innerbox .img_box .imgLink img{width: 100%; _box-shadow: 10px 10px 9px #888;
 transition: all 0.4s;}
 .slide_innerbox .img_box .imgLink i{position: absolute; top: calc(50% - 8px); color: #fff; font-size: 40px; opacity: 0; transition: all 0.4s;}
 .slide_innerbox .img_box .imgLink:hover i{transform: scale(1.2); opacity: 0.7;}

.slide_innerbox .img_box:hover img{transform: scale(1.03); opacity: 0.8;}

.slide_innerbox .txtBox{width: 30%; display: flex; flex-direction: column; justify-content: center; padding: 10px; text-align: right; box-shadow: 5px 5px 5px #eee; margin-left: 10px;}
.slide_innerbox .txtBox h1, .slide_innerbox .txtBox h2{margin: 0; color: #555;}

.slide_innerbox .txtBox h1{font-size: 50px;}



.txtBox .viewBtn{
  _position: absolute; width: 100%; height: 40px; background: #e74c3c; color: #fff; border-radius: 5px;border: 0; border-bottom: 2px solid #c0392b; cursor: pointer;}


  .txtBox .viewBtn:hover{background: #c0392b;}

  .txtBox .viewBtn:active{
    transform: scale(0.9);
  }
/* 
  // Close Button */

  .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 0;
  }

  /* // The mask */


  .mask {
    _position: fixed;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.7);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
    position: fixed;
}
.modal {
  _position: fixed; top: 50%; left: 50%; width: 1200px; height: 800px; background: #bdc3c7; z-index: 100; position: absolute; transform: translate(-50%, -50%); visibility: hidden; opacity: 0; transition: 0.7s ease-out;
  _transform: translateY(45px);}


/* // Class Active */

.active{
  visibility: visible; opacity: 1;}

.active + .modal {visibility: visible; opacity: 1;
  _transform: translateY(0);}

/* modal 창 내부 스타일링 */
.modal_item{width: 100%; height: 100%; overflow-y: scroll;}
.modal_item .title_sec{width: 100%; height: 100%; overflow: hidden; display: flex; background: #ffd6db; padding: 30px 30px 0 30px;}
.modal_item .title_sec .title_img{width: 50%; height: auto; }
.modal_item .title_sec .title_img img{width: 100%;}

.modal_item .title_desc{width: 50%; height: auto; padding: 0 10px; position: relative; text-align: center;}
.modal_item .title_desc h3{font-size: 50px; }
.modal_item .title_desc>p{font-size: 18px;}
.modal_item .title_desc>a{color: #111; position: absolute; bottom: 150px; right: 0; font-size: 15px;}
.modal_item .title_desc>a>i{font-size: 17px; margin-left: 5px;}
.title_desc .participation{display: flex; justify-content: center;}
.title_desc .participation>p{}


.modal_item .details{width: 100%; height: auto; background: #fff; padding: 30px;}
.details .tool{width: 100%; display: flex;}
.details .tool span{display: inline-block; width: 30%; display: flex;
  justify-content: center; align-items: center;}
.tool .tool_imgs{width: 70%; display: flex; align-items: center;}
.tool .tool_imgs .img_box{width: 70px; padding: 5px; margin-right: 10px;}
.tool .tool_imgs .img_box img{width: 100%;}

.details .font{width: 100%; display: flex; margin: 50px 0;}
.details .font span{display: inline-block; width: 30%; display: flex;
  justify-content: center; align-items: center;}
.font .font_box{width: 70%; display: flex; align-items: center; }
.font .font_box .font_name{width: 20%; text-align: left;}
.font .font_box .font_name p:first-child{font-family: 'Noto Sans KR', sans-serif;}
.font .font_box .font_name p:nth-child(2){font-family: 'Open Sans', sans-serif;}
.font .font_box .font_name p:last-child{font-family: 'Dancing Script', cursive;}
.font .font_box .font_desc{width: 80%; text-align: left;}

.details .color{width: 100%; display: flex;}
.details .color span{display: inline-block; width: 30%; display: flex; justify-content: center; align-items: center;}
.color .color_box{width: 70%; display: flex; align-items: center;}
.color .color_box p{color: #eeb4ba; font-weight: 500;}














.imgBox_1 {width: 70%; height: auto; background: #888;}
.imgBox_1 .frame{width: 100%; padding: 5px; height: 600px; background-image: url(../img/pc.png); background-repeat: no-repeat; background-size: contain; z-index: 10; position: relative;}
.imgBox_1 .frame .pcImg{width: 100%; height: 500px; transition: ease-in-out 8s; background-image: url(../img/overwatch_pc.png); background-size: cover; background-position: top; position: absolute;}
.imgBox_1 .frame .pcImg:hover{background-position: bottom;}



/* 컨택트 섹션 */
.contact{width: 100%; height: 100%;}
.contact_wrapper{height: 100%; width: 100%; margin: auto;}
.contact_title{position: absolute; top: calc(50% - 42px); left: 0px; transform: rotate(90deg);}